</main>

<footer class="bg-dark text-white text-center py-2 mt-auto">
    <div class="col-3">
        <%- include('_contact') %>
    </div>
    <small>&copy; 2025 IBC Store. All rights reserved.</small>
</footer>

<script src="/js/notification.js"></script>
</body>
</html>