<!-- views/partials/_links.ejs -->
<h2>Links</h2>
<a href="/about" class="btn ps-0 btn-link">About Us</a>
<a href="/faqs" class="btn ps-0 btn-link">FAQ</a>
<a href="/privacy-policy" class="btn ps-0 btn-link">Privacy Policy</a>
<a href="/returns-and-refunds" class="btn ps-0 btn-link">Return Policy</a>
<a href="/terms" class="btn ps-0 btn-link">Terms</a>
<a href="/order-tracking" class="btn ps-0 btn-link">Order Tracking</a>
<a href="/payment-methods" class="btn ps-0 btn-link">Payment</a>
<a href="/shipping-and-delivery" class="btn ps-0 btn-link">Shipping & Delivery</a>
<a href="/order-cancellation-policy" class="btn ps-0 btn-link">
    <span class="text-danger">Order Cancellation</span>
</a>